@import 'fonts';
@import 'variables';


* {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  color: $black;
  letter-spacing: -0.015em;
}

img {
  background-color: transparent;
}
