@import './variables.scss';

@mixin button {
  border-radius: 6px;
  line-height: 24px;
  cursor: pointer;
  transition: .2s;
}

@mixin blueButton ($verticalPaddings, $width, $fontSize, $fontWeight,) {
  @include button;
  padding: $verticalPaddings 0;
  width: $width;
  background: $blue;
  font-weight: $fontWeight;
  font-size: $fontSize;
  color: $white;

  &:hover {
    background-color: $lightBlue;
  }

  &:disabled {
    background-color: $gray;
  }
}

@mixin transparrentButton ($verticalPaddings, $fontSize, $fontWeight, $letSpacing) {
  @include button;

  &:hover {
    color: $lightBlue;
    path {
      fill: $lightBlue;
    }
  }

  &:disabled {
    color: $gray;
    path {
      fill: $gray;
    }
  }
}

@mixin headlineBig {
  margin: 0;
  font-size: 46px;   
  line-height: 60px;
  font-weight: 800;
}

@mixin headlineSmall {
  margin: 0;
  font-size: 22px;
  line-height: 33px;
  font-weight: 700;
}

@mixin paragraph {
  font-family: 'Open Sans', sans-serif;
  color: $gray;
}

@mixin paragraphBig {
  @include paragraph;
  font-size: 20px;
  line-height: 33px;          
}

@mixin paragraphSmall {
  @include paragraph;
  font-size: 16px;
  line-height: 28px;         
}