// Colors:
$white: #FFF;
$blue: #185CFF;
$lightBlue: #467DFF;
$darkBlue: #002B4E;
$skyBlue: #F0F9FF;
$blueGray: #C9DCEC;
$gray: #9497A1;
$lightGray: #F1F6FA;
$black: #292D33;

// Shadows:
$boxShadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);